*{
  font-family: 'Nunito Sans', sans-serif;
}

body{
    display: flex;
    list-style: none;
    text-decoration: none;
}

.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}


.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #dadada;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #000000;
}


#main {
  transition: margin-left .5s; 
  padding: 20px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
#content-box{
    flex-direction: column;
    margin: 0 auto;
}

#dialog{
    font-size: 20px;
    text-align: center;
}
select{
    padding:3%;
    display: flex;
    margin: 3% auto;
}
.rescan{
    width: 50%;
    height: 80px;
    align-items:center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 21px;
}
.initButton{
    background-color: green;
    width: 50%;
    align-items:center;
    display: flex;
    flex-direction: column;
    margin: 120px auto;
}

.clrButton{
    background-color: red;
    align-items:center;
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    
}

button {
  background-color: #4681f4; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.html5-qrcode-element{
  
  font-size: 12px;
}